.create-photo-button-container {
    background-color: #F3F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.you-page-nav {
    border-bottom: 1px solid lightgray;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.you-page-nav > a:hover {
    color: black;
}
.profile-info {
    height: 300px;
    margin-top: 8px;
    background-image: url('https://combo.staticflickr.com/pw/images/coverphoto03_h.jpg.v3');
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: 50% 50%;
}

.all-photos-container {
    display: flex;
    background-color: #F3F5F6;
    min-height: calc(100vh - 516px);
    flex-wrap: wrap;
    padding-bottom: 140px;
}

.all-photos-container > div {
    margin-top: 20px;
    height: 320px;
    width: 320px;
    margin-left: 36px;
    margin-bottom: 40px;
}

.all-photos-container > div > img {
    height: 320px;
    width: 320px;
}

.create-photo-button {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: white;
    background-color: #1396E7;
    border: none;
    border-radius: 5px 5px 5px 5px;
}
.create-photo-button:hover {
    color: black;
}
.photo-buttons-container {
    display: flex;
    justify-content: space-evenly;
}
.photo-buttons-container > div > button {
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    color: white;
    background-color: #1396E7;
    border: none;
    border-radius: 5px 5px 5px 5px;
}
.photo-buttons-container > div > button:hover {
    color: black;
}
