.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.logo-image {
  height: 50px;
}
.header-nav {
  background-color: #202023;
  display: flex;
  justify-content: space-between;
}
